<!DOCTYPE html> 
<html lang="en"> 
   <head> 
      <meta charset="UTF-8"> 
      <meta name="viewport" 
            content="width=device-width, initial-scale=1.0"> 
      <link rel="stylesheet" href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
   </head> 
   <body> 

<!-- main app container -->
    <h5 class="pl-3 pb-0">Drivers List</h5>


        <div style="padding:0px;margin-left:15px">
           <div class="form-group" style="width:40%;margin-left:0px">
                <input type="text" class="form-control" placeholder="Search Here">
          </div>
        </div>


<div class="card text-center m-3">
    <div class="card-body">

    <table class="table table-bordered table-striped">
  <caption>There are Drivers available.</caption>
    <thead>
      <tr>

        <th>Driver ID </th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Licence Id</th>
        <th>Vehicle Id</th>
        <th>Availablity</th>
        <th>Verification</th>
      </tr>
    </thead>  
    <tbody>
      <tr *ngFor="let item of pageOfItems" class ="clickable" (click)="gotoprofilepage(item)">

        <td style="color:blue">{{item.id}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td> 
        <td>{{item.phone}}</td>
        <td>{{item.licenceid}}</td>
        <td>{{item.platenumber}}</td>
        <td>{{item.availability}}</td>
        <td>
          <button type="button" class="btn btn-primary dabutton">
              Verify
          </button>
       </td>

      </tr>
    </tbody>
    <div class="card-footer pb-0 pt-3">
        <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
    </div>
  </table>
        
    </div>
   
</div>

</body>
</html>